<!-- QUESTIONS BANNER (same component as index) -->
<section class="questions" id="signup">
    <div class="container py-5">
        <div class="questions-banner">
            <div class="questions-stg">
                <img
                        src="assets/images/logo-kid-book-300.png"
                        alt="Стежинка до знань"
                        style="width: 180px; height: 180px"
                />
            </div>
            <div class="questions-text">
                <div class="questions-title">ЗАЛИШИЛИСЯ ПИТАННЯ?</div>
                <div class="questions-sub">
                    Задайте питання, і наш менеджер зв’яжеться з вами найближчим часом
                </div>

                <a class="btn btn-pill btn-cta mt-3" href="mailto:stezhunkacentr@gmail.com">ЗАДАТИ ПИТАННЯ</a>
            </div>
        </div>
    </div>
</section>
